<!DOCTYPE html>
<html lang="en" ng-app="apprenticeBingo">
  <head>
    <meta charset="utf-8">
		<script type="text/javascript" src="./packages/angular.js"></script>
		<script type="text/javascript" src="./packages/underscore-min.js"></script>
		<script type="text/javascript" src="./app/app.js"></script>
		<link rel="stylesheet" href="styles/main.css">
    <title>Apprentice Bingo</title>
  </head>
  <body ng-controller="apprenticeBingoController">
    <h1>Apprentice Bingo</h1>
    <a href="about.html">
      <h3>About the program</h3>
    </a>
    
    
    <!--<h2>
      <tt>WIN = {{ win }}</tt>
    </h2>-->
    
    
    <form name="setup">
			<label>
				Size:
				<input name="size" type="number" ng-model="bingoSize.size" min=1 max=9 required>
			</label>
			<label>
			  Bingo Type: 
			  <select ng-model="gridType">
			    <option ng-repeat="type in config.gridTypes">{{ type }}</option>
			  </select>
			</label>
			<label>
			  Number of Tables:
			  <select ng-model="bingoSize.tableCount">
			    <option ng-repeat="val in config.tableCounts">{{ val }}</option>
			  </select>
			</label>
			<button ng-click="bingoTables = getBingoTables(content[gridType])">
			  New Tables
			</button>
			<br>
			<div role="alert">
			  <span class="error" ng-show="setup.size.$error.required">
			    Size is required.
			  </span>
			  <span class="error" ng-show="setup.size.$error.number || 
			                                  setup.size.$error.min || 
			                                  setup.size.$error.max">
			    Size must be a number between 1 and 9.
			  </span>
			</div>
			<hr>
		</form>
		
    <div ng-show="win">
      <h1>BINGO</h1>
    </div>
    
    <div ng-repeat="b in bingoTables" class="board">
      <table>
        <tr ng-repeat="row in b.table">
          <td ng-repeat="tile in row" 
            ng-click="tile.change(); setWins()" class="tile" 
            ng-class="{marked: tile.marked, bingo: tile.inBingo}">
            <div>
              <p>{{ tile.value }}</p>
            </div>
          </td>
        </tr>
      </table>
      <!--<button ng-click="b.reset()" class="tableReset">
        Reset
      </button>-->
      <hr>
    </div>
    
    <!--<button ng-click="win = !win">
      Toggle Win
    </button>-->
    
    
  </body>
</html>
